[project]
name = "sample-ml-proj-0"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[tool.uv]
# This marks it as a member of the workspace above
override-dependencies = []